@model MajoliFE.Models.IndexViewModel
@{
	ViewData["Title"] = "Početna strana";
}
<style>
	.view p{
		font-size:24px !important;
		font-family:unset !important;
		font-style:normal !important;

	}
	.statisc_mask {
		background-color: rgba(0,0,0,.5);
		font-size: 27px;
		color: white;
		position: absolute;
		top: 0;
		width: 100%;
	}
</style>
<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Početna strana</h3>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Prečice</h2>
					@*<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>*@
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<a href="@Url.Action("Customers","Home")">
							<div class="col-md-6">
								<div class="thumbnail">
									<div class="image view view-first">
										<img style="width: 100%; display: block;" src="~/Content/build/images/media.jpg" alt="image">
										<div class="statisc_mask">
											<span>Klijenti</span>
											@*<div class="tools tools-bottom">
									<a href="#"><i class="fa fa-link"></i></a>
									<a href="#"><i class="fa fa-pencil"></i></a>
									<a href="#"><i class="fa fa-times"></i></a>
								</div>*@
										</div>
									</div>
									<div class="caption">
										<p>Detaljnije...</p>
									</div>
								</div>
							</div>
						</a>
						<a href="@Url.Action("Invoices","Home")">
							<div class="col-md-6">
								<div class="thumbnail">
									<div class="image view view-first">
										<img style="width: 100%; display: block;" src="~/Content/build/images/media.jpg" alt="image">
										<div class="statisc_mask">
											<span>Računi</span>
										</div>
									</div>
									<div class="caption">
										<p>Detaljnije...</p>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="row">
					<a href="@Url.Action("Vendors","Home")">
						<div class="col-md-6">
							<div class="thumbnail">
								<div class="image view view-first">
									<img style="width: 100%; display: block;" src="~/Content/build/images/media.jpg" alt="image">
									<div class="statisc_mask">
										<span>Dobavljači</span>
									</div>
								</div>
								<div class="caption">
									<p>Detaljnije...</p>
								</div>
							</div>
						</div>
					</a>
					<a href="@Url.Action("VendorInvoices","Home")">
						<div class="col-md-6">
							<div class="thumbnail">
								<div class="image view view-first">
									<img style="width: 100%; display: block;" src="~/Content/build/images/media.jpg" alt="image">
									<div class="statisc_mask">
										<span>Ulazni Računi</span>
									</div>
								</div>
								<div class="caption">
									<p>Detaljnije...</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>
	@await Html.PartialAsync("_InvoiceStatisticsPV", Model.InvoiceStatistics);
</div>

@section Scripts
{
	<script src="~/js/Index.js"></script>
}
	
